body{
    margin-top: 100px;
}

h1{
    text-align: center;
}

ul li{
    border: solid black 1px;
    list-style: none;
    padding: 10px;
}

ul{
    padding: 0;
    margin-bottom: 0;
}

input{
    border: none;
    width: 100%;
}